.Imagenes {
    width: 250px;
}

.boton{
    padding: 5px;
    width: 200px;

}

.text{
    margin: auto 200px;
}
.alert{
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.buton{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.brhr{
    margin-bottom: 20px;

}