.Imagenes {
    width: 250px;
}

.boton{
  padding: 10px;
  font-size: 20px;
  border-radius: 7px;
  background: crimson;
  width: 115px;
}

.text{
    margin: auto 200px;
}
.alert{
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contenedorImgBoton{
display: flex;
justify-content: center;
align-items: center;
}
.brhr{
    margin-bottom: 20px;

}
@media screen and (max-width: 800px) {
  .text{
    margin:0;
  }
}
