.parrafo{
    width: 200px;
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;

}
.mj{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContenedorMensaje{
  width: 100%;
}
.enviado h4{
  margin-bottom: 0;
}

.enviado{
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    width: 250px;
    align-items: center;
}

.contenedortodo{
    width: 250px;
    display: flex;
    justify-content: center;
    margin: 5px auto;
    flex-wrap: wrap;
}

.cuadroDeTexto{
    max-width:250px;;
    min-width:250px;
    max-height:170px;
    min-height:170px;
}

.imagen{
    width: 200px;
    margin: auto 10px;
}
.botonmensaje{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
form{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
form h4{
  margin-bottom: 0;
}
