.body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Todo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
}
.otro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    width: 200px;
    margin-bottom: 0;
}
.Info h3,p{
margin: 0;
}
.Info{
    margin: 10px;
}
