.imagen{
    width: 200px;
    margin: auto 10px;

}

.ImagenQue{
  width: 50px;
  margin-left: 5px;


}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.botonPregunta{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
