.Imagenlogo {
  margin-top: 10px;
    width: 250px;
}

.descri{
  text-align: center;
  margin: 10px 200px;

}

.descri p{
  margin: 10px 200px;
    color: #ffffff;
    border-radius: 7px;
    padding: 5px;
    background:rgba(0, 0, 0, 0.6);
}

.botonDeInicio{
    margin-top: 50px;
}

.botonDeInicio button {
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
    background: crimson;
    width: 115px;
}
.contener{
    background: url("../imagen/Fondo\ de\ niños.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width:800px) {
  .descri{
    margin:10px auto;
    height: 30%;
  }
  .descri p{
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: auto;
  }
  .Contenido{
    height: 0;
  }
  .botonDeInicio{
    margin: 10px 0;
  }
}
