.Imagenes {
    width: 50px;
    margin-left: 10px;

}

.Inicial{
    display: flex;
    align-items: center;
    justify-content: center;

}

.did{
    border: 1px solid #000000;
    list-style: none;
    padding: 8px;
    width: 50%;
    margin: 5px;
}

.did p{
    text-decoration: none;
    color: #000000;
}
.infor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 550px;
}
.preg{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.did:hover{
    background: rgba(0, 0, 0, .1);
    cursor: pointer;

}
.imagen{
    width: 200px;
    margin: auto 10px;
}
.botonesAviso{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@media screen and (max-width: 800px) {
  .did{
    width: 100%;
  }
}
